{% extends 'base.html.twig' %}

{% block stylesheets %}
<link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ asset('css/sticky.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ asset('css/styles.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
	<!--login modal-->
	<div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog">
	  <div class="modal-content">
	      <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	          <h1 class="text-center">Login</h1>
	      </div>
	      <div class="modal-body">
	          <form class="form col-md-12 center-block" method="post">
	            <div class="form-group">
	              <input type="text" class="form-control input-lg" placeholder="Email" name="user_email">
	            </div>
	            <div class="form-group">
	              <input type="password" class="form-control input-lg" placeholder="Password" name="user_pwd">
	            </div>
	            <div class="form-group">
	              <input type="submit" class="btn btn-primary btn-lg btn-block" />
	              <span class="pull-right"><a href="#">Register</a></span><span><a href="#">Need help?</a></span>
	            </div>
	          </form>
	      </div>
	      <div class="modal-footer">
	          <div class="col-md-12">
	          <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
			  </div>	
	      </div>
	  </div>
	  </div>
	</div>
{% endblock %}
{% block footer%}
	<footer class="footer">
      <div class="container">
        <p class="text-muted">Symfony Demo for R&D.. </p>
      </div>
    </footer>
{% endblock %}